div.btn-group {
  &.btn-group-left {
    button {
      margin-right: 0.22rem;
    }
  }

  &.btn-group-center {
    button {
      margin: 0 0.11rem;
    }
  }

  &.btn-group-right {
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 0.22rem;
    }
  }
}

label.required::after {
  content: "*";
  color: red;
}

div.accordion {
  div.accordion-item {
    div.accordion-header {
      padding: 1rem;
      display: flex;
      cursor: pointer;
      align-items: center;
      background-color: transparent;
      h4.accordion-title {
        display: inline-block;
        margin: 0;
        flex: 1;
      }
      em.fas.fa-chevron-up {
        transition: transform 0.2s ease-in-out;
      }

      &.collapsed {
        background-color: #f6f6f6;
        em.fas.fa-chevron-up {
          transform: rotate(-180deg);
        }
      }
    }
  }
}
