<div class="container my-4">
  <h4>Welcome to Angular Accordion Tutorial</h4>
  <p>Let's build our accordion reusable components with Our Angular</p>
  <ngid-accordion>
    <ngid-accordion-item header="Accordion 1 Item 1">
      Accordion Item 1
    </ngid-accordion-item>
    <ngid-accordion-item header="Accordion 1 Item 2">
      Accordion Item 2
    </ngid-accordion-item>
    <ngid-accordion-item header="Accordion 1 Item 3">
      Accordion Last Item
    </ngid-accordion-item>
  </ngid-accordion>
</div>
