<div class="container my-4">
  <h4>Welcome to Angular Reactive Forms Tutorial</h4>
  <p>Let's build simple form with Angular</p>

  <div class="form-group">
    <input type="text" class="form-control" [formControl]="formControlName" />
  </div>
  <div class="d-flex justify-content-end">
    <ngid-button (onClick)="handleDisableOrEnableForm()">
      {{ isDisabled ? "Enabled" : "Disabled" }}
      {{
        formControlName.value
          ? "formControl '" + formControlName.value + "'"
          : "Form"
      }}
    </ngid-button>
  </div>
  <form [formGroup]="formGroup">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
      />
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input
        type="number"
        class="form-control"
        id="age"
        formControlName="age"
      />
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <textarea
        type="text"
        class="form-control"
        id="address"
        formControlName="address"
      >
      </textarea>
    </div>
    <div class="form-group">
      <label for="name">Gender</label>
      <div
        class="custom-control custom-radio"
        *ngFor="let gender of genderList; let i = index"
      >
        <input
          type="radio"
          id="{{ 'gender' + i }}"
          class="custom-control-input"
          [value]="gender"
          [checked]="formGroup.get('gender').value.id === gender.id"
          (change)="handleChangeGender(gender)"
          [disabled]="formGroup.get('gender').disabled"
        />
        <label for="{{ 'gender' + i }}" class="custom-control-label">
          {{ gender.name }}
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Skills</label>
      <div
        class="custom-control custom-checkbox"
        *ngFor="let skill of skillList; let i = index"
      >
        <input
          type="checkbox"
          id="{{ 'skill' + i }}"
          class="custom-control-input"
          (change)="handleChangeSkill($event.target.checked, i)"
          [checked]="isChecked(formGroup.get('skills').value, skill)"
          [disabled]="formGroup.get('skills').disabled"
        />
        <label for="{{ 'skill' + i }}" class="custom-control-label">
          {{ skill.name }}
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Country</label>
      <select
        [compareWith]="handleCompareCountry"
        class="custom-select"
        formControlName="country"
      >
        <option value="null">Select Country</option>
        <option [ngValue]="country" *ngFor="let country of countryList">
          {{ country.name }}
        </option>
      </select>
    </div>

    <div
      class="p-4 border border-rounded mb-4"
      formArrayName="questionAnswerList"
    >
      <h4>Dynamic Form Section: Question & Answer</h4>
      <div
        class="form-group"
        *ngFor="
          let formGroupQuestionAnswer of questionAnswerListFormArray.controls;
          let i = index
        "
        [formGroup]="formGroupQuestionAnswer"
      >
        <label for="question1"
          ><strong>Question {{ i + 1 }}: </strong>
          <em
            class="fas fa-times text-danger"
            (click)="handleDeleteQuestionAnswerItem(i)"
            style="cursor: pointer"
          ></em>
        </label>
        <input
          type="text"
          class="form-control mb-2"
          formControlName="question"
          placeholder="Question"
        />
        <input
          type="text"
          class="form-control"
          formControlName="answer"
          placeholder="Answer"
        />
      </div>
      <ngid-button (onClick)="handleAddNewQuestionAnswer()"
        >Add New Question Answer</ngid-button
      >
    </div>

    <div class="p-4 border border-rounded" formArrayName="questionAnswerList">
      <h4>Dynamic Form Section: Hobbies</h4>
      <div
        class="form-group"
        *ngFor="let formControl of hobbiesListFormArray.controls; let i = index"
      >
        <label for="question1"
          ><strong>Hobbie {{ i + 1 }}: </strong>
          <em
            class="fas fa-times text-danger"
            (click)="handleDeleteHobbieItem(i)"
            style="cursor: pointer"
          ></em>
        </label>
        <input
          type="text"
          class="form-control mb-2"
          [formControl]="formControl"
          placeholder="Hobbie"
        />
      </div>
      <ngid-button (onClick)="handleAddNewHobbie()">Add New Hobbie</ngid-button>
    </div>
  </form>
  <div class="btn-group btn-group-right mt-4">
    <ngid-button color="SECONDARY" (onClick)="handleCancel()">
      Cancel
    </ngid-button>
    <ngid-button color="WARNING" (onClick)="handleReset()">Reset</ngid-button>
    <ngid-button (onClick)="handleSubmit()">Submit</ngid-button>
  </div>
</div>
