div.btn-group {
  &.btn-group-left {
    button {
      margin-right: 0.22rem;
    }
  }

  &.btn-group-center {
    button {
      margin: 0 0.11rem;
    }
  }

  &.btn-group-right {
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 0.22rem;
    }
  }
}

label.required::after {
  content: '*';
  color: red;
}

div.card {
  div.card-header {
    background: transparent;
    border-color: transparent;
    h4.card-title {
      margin: 0;
    }
    span.card-description {
      color: #747474;
    }
  }
  div.card-body {
    padding-top: 0;
  }
}